<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIUO8bPX__Ad9N-NOxmwp8Lh4k0mm1jtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>486155200016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cindyguo.travelbuddy</string>
	<key>PROJECT_ID</key>
	<string>travel-buddy-jet-lag-app</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-buddy-jet-lag-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:486155200016:ios:be516733de87ee5ba24c95</string>
</dict>
</plist>